In [1]:
import pandas as pd

In [2]:
df_1=pd.read_csv(r"e:\project\articles.csv")

In [3]:
df_1.shape

(105542, 25)

In [4]:
df_1.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [5]:
df_2=pd.read_csv(r"e:\project\transactions_train.csv")

In [6]:
df_2.head()
df_2.shape

(31788324, 5)

In [7]:
df_2.tail()

,t_dat,customer_id,article_id,price,sales_channel_id
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [9]:
def_merged=df_2.merge(df_1,on='article_id')

In [10]:
def_merged.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,663713,Atlanta Push Body Harlow,283,Underwear body,Underwear,...,Expressive Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

In [11]:
def_merged['product_code'].isnull().sum()

0

In [12]:
def_merged.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'product_code', 'prod_name', 'product_type_no', 'product_type_name',
       'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [13]:
columns_to_keep = ['t_dat', 'article_id', 'price', 'product_group_name', 'product_code','product_type_no']

# Drop columns not in the 'columns_to_keep' list
columns_to_drop = [col for col in def_merged.columns if col not in columns_to_keep]
filtered_df = def_merged.drop(columns=columns_to_drop)

In [14]:
filtered_df.columns

Index(['t_dat', 'article_id', 'price', 'product_code', 'product_type_no',
       'product_group_name'],
      dtype='object')

In [15]:
filtered_df.head()

,t_dat,article_id,price,product_code,product_type_no,product_group_name
0,2018-09-20,663713001,0.050831,663713,283,Underwear
1,2018-09-20,663713001,0.049475,663713,283,Underwear
2,2018-09-20,663713001,0.050831,663713,283,Underwear
3,2018-09-20,663713001,0.050831,663713,283,Underwear
4,2018-09-20,663713001,0.050831,663713,283,Underwear

In [16]:
filtered_df['price'].isnull().sum()

0

In [17]:
filtered_df.shape

(31788324, 6)

In [18]:
filtered_df.tail()

,t_dat,article_id,price,product_code,product_type_no,product_group_name
31788319,2020-09-22,860135008,0.038119,860135,259,Garment Upper body
31788320,2020-09-22,539060028,0.016017,539060,308,Garment Upper body
31788321,2020-09-22,539060028,0.016000,539060,308,Garment Upper body
31788322,2020-09-22,810737015,0.033881,810737,49,Underwear/nightwear
31788323,2020-09-22,533261032,0.033881,533261,256,Garment Upper body

In [19]:
filtered_df.to_csv('Actual_data_cdac.csv',index=False)

In [20]:
#filtered_df['quantity_sold'] = filtered_df.groupby(['t_dat', 'product_group_name'])['quantity_column_name'].transform('sum')
""" grouped = filtered_df.groupby(['t_dat', 'product_group_name']).size().reset_index(name='quantity_sold')

# Merge the grouped data back to the original DataFrame
filtered_df = pd.merge(filtered_df, grouped, on=['t_dat', 'product_group_name'], how='left')

# Print the updated DataFrame
print(filtered_df)
 """

" grouped = filtered_df.groupby(['t_dat', 'product_group_name']).size().reset_index(name='quantity_sold')\n\n# Merge the grouped data back to the original DataFrame\nfiltered_df = pd.merge(filtered_df, grouped, on=['t_dat', 'product_group_name'], how='left')\n\n# Print the updated DataFrame\nprint(filtered_df)\n "

In [ ]:
# Group by 't_dat' and 'product_group_name', then calculate sum of quantities
grouped = filtered_df.groupby(['t_dat', 'product_group_name']).sum().reset_index()

# Merge the grouped data back to the original DataFrame
filtered_df = pd.merge(filtered_df, grouped, on=['t_dat', 'product_group_name'], how='left')

# Rename the newly created column


# Print the updated DataFrame
print(filtered_df)

MemoryError: Unable to allocate 243. MiB for an array with shape (31788324, 1) and data type float64